@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?1i0o6h');
  src:url('fonts/icomoon.eot?1i0o6h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1i0o6h') format('truetype'),
    url('fonts/icomoon.woff?1i0o6h') format('woff'),
    url('fonts/icomoon.svg?1i0o6h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


#icon-home:before {
  content: "\e800";
  font-family: 'icomoon';
  margin-right: 3px;
  color:rgba(0,0,0,.4);
}
#icon-phone:before {
  content: "\e801";
  font-family: 'icomoon';
   margin-right: 3px;
   color:rgba(0,0,0,.4);
}
#icon-user-tie:before {
  content: "\e802";
  font-family: 'icomoon';
   margin-right: 3px;
   color:rgba(0,0,0,.4);
}
#icon-stats-dots:before  {
  content: "\e803";
  font-family: 'icomoon';
   margin-right: 3px;
   color:rgba(0,0,0,.4);
}


* {
  margin: 0;
  padding: 0;
  }

html {
  background: #F3F2F3;
  }

body {
  color: #333;
  font: 14px/24px sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  }
body{-webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }}


#IrArriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 10px; /* Distancia desde la derecha */
z-index: 2000;
}

#IrArriba span {
width: 64px; /* Ancho del botón */
height: 64px; /* Alto del botón */
display: block;
background: url("img/arriba.png") no-repeat center center;
z-index: 2000}


  header;
    position:absolute;
    margin: 0;
    
    width: 100%;
    left:0;
    height: 200px;
    top:20px;
    
  }
  header>h1{margin:0;}
.naveg{top: 60px;
position: absolute;
z-index: 10000000000000000;}
.nave{display:inline-block;
float:left;
padding:0 1em 1.7em 1em;
position: relative;
margin: 0 auto;
font-weight: bold;
height: 27px;
transition: all 0.3s ease-in;

}

.nave:hover{border-bottom: #7DB6E3 solid 8px;
z-index: 10000000000000000;
}
#select{border-bottom: #7DB6E3 solid 8px;
z-index: 10000000000000000}




#wrapper {
  float: left;
  width: 100%;
  margin-bottom:0px;
  margin-top: 1px;
  line-height: 
  }






h1 {
  font: 600 28px/36px sans-serif;
  margin: 50px 0;
  }

h3 {
  font: 600 18px/24px sans-serif;
  color: #999;
  margin: 0 0 20px;
  }

a {
  color: #222;
  }



.rslides {
  margin: 0 auto;
  }

.rslides_container {
  
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  *display: block;
  -moz-border-radius: 15px;
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -webkit-border-radius: 15px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  _display: block;
  background: #ccc;
  background: rgba(0,0,0, .2);
  border-radius: 15px;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  display: inline-block;
  height: 9px;
  overflow: hidden;
  text-indent: -9999px;
  width: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0,0.8);
  }
.con{background:rgba(255,255,255,0.7);
display: inline-block;
box-shadow:0 0 10px 0 rgba(0,0,0,.3);
margin: 0.5em 0 1em 0;
text-align: justify;
padding:1em;
 }
 .con>p{color:#003A92}
@media only screen and (min-width : 320px) {

.mm-menu-toggle{display: block;

top:38px;width:28px;height:18px;}
.naveg{display: none;}
.barra>img{display:none;}
.mm-menu__header{height: 70px;}
.barra>div>img{width:6em;
position: relative;
top:0.5em;}
.barra>div{margin: 0;
display:block;
float:right;
padding:0;
}
}

@media only screen and (min-width : 768px) {

.mm-menu-toggle{display: block;
top:60px;width:28px;height:18px;}
.naveg{display: none;}
.barra>img{width:18em;
  display:block;
  position: relative;
}
.barra>div{display: none;}
.mm-menu__header{height: 100px;}
}


@media screen and (min-width: 1025px){
  .barra>div{display: none;}
  .mm-menu-toggle{display: none;}
  .naveg{display: block;}
  .rslides{border-top:8px solid rgba(0,0,0,0.5)}

}
